@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/miama');

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: "Inter", sans-serif;
    max-width: 1440px;
    margin: 0 auto;
}


/* common shared styles start here */

main {
    max-width: 100%;
    margin: 0 auto;
    background-color: black;
}

.section-container {
    width: 75%;
    margin: 0 auto;
}


.btn-primary {
    border-radius: 42px;
    background: rgb(230, 83, 60);
    padding: 16px 40px;
    border: none;
    color: rgb(255, 255, 255);
    font-size: 1.1rem;
    font-weight: 600;
}


.primary-text {
    color: rgba(255, 255, 255, 0.5);
    font-size: 1rem;
    font-weight: 400;
    line-height: 24px;
}

.section-title {
    color: rgb(255, 255, 255);
    font-size: 48px;
    font-weight: 900;
}

/* common shared styles end here */


/* header styles start here */

.header-container {
    background: linear-gradient(rgb(17, 17, 17), rgba(17, 17, 17, 0.904), rgb(17, 17, 17));
    width: 100%;
}

.header-section {
    max-width: calc(100% - 380px);
    margin: 0 auto;
    padding-top: 60px;
}

.navigation-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.manu-bar{
    width: 24px;
    display: none;
}

.manu-bar i{
    color: beige;
}

.navigation-section h2 {
    color: rgb(230, 83, 60);
    font-size: 2.25rem;
    font-weight: 800;
}

.nav-main {
    display: flex;
    gap: 40px;
    align-items: center;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;
    padding-right: 20px;
}

.nav-main li {
    list-style: none;
    color: rgb(255, 255, 255);
    font-size: 1rem;
    font-weight: 400;
}

.nav-main button {
    color: rgb(255, 255, 255);
    font-size: 1rem;
    font-weight: 600;
    border-radius: 46px;
    background: rgb(230, 83, 60);
    border: none;
    padding: 8px 20px;
}

/* hero section starts here */

.hero-section {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.hero-section .hero-text {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-top: 50px;
}

.hero-section .hero-img-container {
    background-image: url('../images/hero-img.png');
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    width: 50%;
    position: relative;
    height: 580px;
}

#shape {
    color: rgb(255, 255, 255);
    font-family: Miama;
    font-size: 4.8rem;
    font-weight: 400;
}

.hero-section .hero-text .header-title {
    color: rgb(255, 255, 255);
    font-size: 4.8rem;
    font-weight: 900;
}

.hero-section .hero-text .download-btn {
    box-sizing: border-box;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 42px;
    color: rgb(255, 255, 255);
    font-size: 1.1rem;
    font-weight: 600;
    padding: 12px 40px;
    background-color: black;
    margin-left: 15px;
}


.hero-section .hero-img-container .hero-img-five-hundred {
    font-size: 2.5rem;
    font-weight: 900;
    color: rgb(255, 255, 255);
}

.hero-section .hero-img-container .hero-img-three-hundred {
    color: rgb(250, 250, 249);
    font-size: 1.5rem;
    font-weight: 900;

}

.hero-section .hero-img-container p {
    color: rgba(239, 237, 232, 0.65);
    font-size: 1rem;
    font-weight: 400;

}

.hero-section .hero-img-container .five-hundred {
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    background: rgba(255, 255, 255, 0.1);
    padding: 10px 20px;
    position: absolute;
    top: 160px;
    right: -120px;
}

.hero-section .hero-img-container .three-hundred {
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    background: rgba(48, 48, 48, 0.54);
    padding: 20px;
    position: absolute;
    bottom: 65px;
    left: 100px;
    display: flex;
    gap: 10px;
    align-items: center;

}

.hero-section .hero-img-container .three-hundred .round-shape {
    height: 40px;
    width: 40px;
    border-radius: 100%;
    background-color: rgb(230, 83, 60);
    ;
}

/* hero section ends here */

/* header styles end here */


/* habits-section styles starts here */
.habits-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding-top: 100px;
    gap: 20px;
}

.habits-section .card-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}

.habits-section .card-container .card-img img {
    border: 1px solid wheat;
    border-radius: 100px;
}

.habits-section .card-container .card-title {
    color: rgb(255, 255, 255);
    font-size: 1rem;
    font-weight: 600;
    margin-top: 30px;
    margin-bottom: 10px;
}

.habits-section .card-container .card-info {
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 1rem;
    font-weight: 400;
}

/* habits-section styles end here */


/* Extra Mile styles start here */

.extra-mile {
    display: flex;
    align-items: center;
    gap: 150px;
    padding: 40px 40px 40px 50px;
    border-radius: 18px;
    background: rgb(34, 34, 34);
}

.extra-mile .extra-mile-info-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}


.extra-mile .extra-mile-info-container {
    flex: 1;

}

.extra-mile .extra-mile-img-container {
    width: 366px;
    height: 312px;
    background-image: url('../images/run.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 18px;
}

/* Extra Mile styles end here */

/* bmi-section style start here */
.bmi-section {
    margin-top: 80px;
}

.bmi-section-container {
    background: rgb(34, 34, 34);
    padding: 50px 0;
}

.bmi-section-content {
    max-width: 1060px;
    margin: 0 auto;
}

.bmi-title {
    color: rgb(255, 255, 255);
    font-size: 28px;
    font-weight: 900;
}

.bmi-section .bmi-info {
    max-width: 671px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 80px;
}

.bmi-calculator-container {
    display: flex;
    justify-content: space-between;
}

.bmi-calculator-chart {
    width: 35%;
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.calculate-bmi {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 50px;
}


.bmi-section .bmi-calculator-container .bmi-calculator-chart .bmi-table,
th,
td {
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-collapse: collapse;
}

.bmi-section .bmi-calculator-container .bmi-calculator-chart .bmi-table th {
    color: rgb(255, 255, 255);
    font-size: 1rem;
    font-weight: 500;
}

.bmi-section .bmi-calculator-container .bmi-calculator-chart .bmi-table td {
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.85rem;
    font-weight: 400;
}


.bmi-section .bmi-calculator-container .bmi-calculator-chart .bmi-table th,
td {
    padding: 15px;
}


.form-container input,
.option {
    color: rgba(255, 255, 255, 0.6);
    font-size: .90rem;
    font-weight: 400;
    padding: 12px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    border: none;

}

.height,
.weight,
.age,
.sex,
.activity {
    display: block;
}

.form-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 12px;
    margin-top: 15px;
}

.height,
.weight {
    grid-column: span 1;
}

.age,
.sex {
    grid-column: span 1;
}

.activity {
    grid-column: span 2;
}

/* bmi-section style end here */


/* Our team section styles start here */

.our-team-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 90px;
    padding-bottom: 90px;
}

.our-team-grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 50px;
    border-radius: 18px;
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
}

.title {
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    font-weight: 600;
}

#trainer {
    color: rgba(255, 255, 255, 0.6);
    font-size: 1rem;
    font-weight: 400;
}

.grid-content {
    position: relative;
    /* width: 326.67px; */
    height: 272px;
}

.grid-content img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 18px;
}

.grid-img-title {
    position: absolute;
    bottom: 20px;
    left: 20px;
}

/* Our team section styles ends here */

/* footer section start here */
.footer-section {
    background-color:rgb(26, 26, 26);
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 70px 10px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.1);
}

.footer-fitness h2 {
    color: rgb(230, 83, 60);
    font-size: 4., 3rem;
    font-weight: 800;
    margin-bottom: 20px;
}

.footer-get-started {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.footer-get-started h4 {
    color: rgb(255, 255, 255);
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 19px;
}

.footer-get-started p {
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 1.4rem;
    font-weight: 400;
}

.footer-reserved {
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.2rem;
    font-weight: 400;
    padding: 35px 0;
    text-align: center;
}

/* footer section end here */

